body {
  padding: 0px;
  margin: 0px;
  background-image: url("/images/susan-q-yin-2JIvboGLeho-unsplash.jpg");
  background-color: #ffffff;
  background-blend-mode: screen;
}
/* Photo by <a href="https://unsplash.com/@syinq?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Susan Q Yin</a> on <a href="https://unsplash.com/images/things/book?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  
#map,
body,
html {
  height: 100%;
}

#slick-carousel {
  align-items: center;
}

.carousel {
  padding-left: 20px;
}