body {
  padding: 0px;
  margin: 0px;
  background-image: url(../images/susan-q-yin-2JIvboGLeho-unsplash.png);
  background-color: #333333;
  background-blend-mode: screen;
}
/* Photo by <a href="https://unsplash.com/@syinq?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Susan Q Yin</a> on <a href="https://unsplash.com/images/things/book?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  
#map,
body,
html {
  height: 100%;
}


.slick {
  background-color: rgba(255, 255, 255, 0.7);
}

h2 {
  color: white;
}

h6 {
  color: white;
}

.header {
  color: white;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  font-family: Garamond;
}

#donut {
  background-color: rgba(255, 255, 255, 0.7);
}