<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Library Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
   <!-- Marker Cluster CSS -->
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  <!-- Slick CSS -->
  <link rel="stylesheet" type="text/css" href="../slick/slick.css">
  <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css">
  <!-- Custom CSS  -->
  <link rel="stylesheet" href="../static/css/style.css">
  
</head>

<body>
  <div class="container" style="width:840px; height: 400px;">
    <div id="map"></div>
      
  </div>
  <div class="container">
    <div id="bar"></div>
    <div id="donut"></div>
  </div>

  <div class="container">
   <div class="row">
     
      <div class="col-sm-12 col-md-5 mx-auto">
        <div id="slick-carousel">
          <h2 style="color: white;">Library Facts</h2>
          <div class="slick">
            <div><img class="carousel" src="../carousel_images/02-guinness-book-jma.work_1.png"></div>
            <div><img class="carousel" src="../carousel_images/91Ax4+FyBDL.png"></div>
            <div><img class="carousel" src="../carousel_images/loc.png"></div>
            <div><img class="carousel" src="../carousel_images/20170420_Beinecke_Rare_Book_Library_Interior_Yale_University_New_Haven_Connecticut.png"></div>
            <div><img class="carousel" src="../carousel_images/fdlp_logo.png"></div>
            <div><img class="carousel" src="../carousel_images/HaskellLibraryBorderLine.png"></div>
            <div><img class="carousel" src="../carousel_images/Mafra-Palace-Library-1.png"></div>
            <div><img class="carousel" src="../carousel_images/p063xqfh.png"></div>
            <div><img class="carousel" src="../carousel_images/Screenshot 2021-05-01 201855.png"></div>
            </div>  
          </div>
        </div>
      </div>

      

    <!-- Add bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Add jquery/slick scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../slick/slick.min.js"></script>

    <!-- Add d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Add plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Elements to make the map work-->
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="../static/JS/main.js"></script>
    <!-- Map JS -->
    <script type="text/javascript" src="../static/JS/map.js"></script>
    <!-- Leaflet heatmap plugin-->
    <script type="text/javascript" src="../static/JS/leaflet-heat.js"></script>
    <!-- Carousel JS -->
    <script type="text/javascript" src="../static/JS/carousel.js"></script>
    <!-- Donut JS -->
    <script type="text/javascript" src="../static/JS/donut.js"></script>
				  
</body>
</html>